In [70]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import yfinance as yf
yf.__version__

'0.2.3'

In [71]:
df = pd.read_csv("budget_iv_data_nifty.csv", encoding="utf-8")
df.head()

,budget_date,iv_peak,peak_date,nifty_spot_iv_peak,iv_b_day,nifty_spot_b_day,iv_post,post_date,nifty_spot_iv_post
0,01/02/2018,17.30,29/01/2018,11138,12.62,11031,12.62,01/02/2018,11031
1,01/02/2019,19.49,28/01/2019,10676,14.34,10914,13.92,04/02/2019,10937
2,01/02/2020,23.94,31/01/2020,11994,18.77,11655,10.87,07/02/2020,12096
3,01/02/2021,30.49,29/01/2021,13709,26.75,14351,19.45,04/02/2021,14895
4,01/02/2022,37.94,31/01/2022,17362,28.94,17589,16.03,02/02/2022,17796

In [72]:
df.shape

(5, 9)

In [73]:
df.columns

Index(['budget_date', 'iv_peak', 'peak_date', 'nifty_spot_iv_peak', 'iv_b_day',
       'nifty_spot_b_day', 'iv_post', 'post_date', 'nifty_spot_iv_post'],
      dtype='object')

In [74]:
df.dtypes

budget_date            object
iv_peak               float64
peak_date              object
nifty_spot_iv_peak      int64
iv_b_day              float64
nifty_spot_b_day        int64
iv_post               float64
post_date              object
nifty_spot_iv_post      int64
dtype: object

In [75]:
df["budget_date"] = pd.to_datetime(df["budget_date"], format="%d/%m/%Y")
df["peak_date"] = pd.to_datetime(df["peak_date"], format="%d/%m/%Y")
df["post_date"] = pd.to_datetime(df["post_date"], format="%d/%m/%Y")
df.dtypes

budget_date           datetime64[ns]
iv_peak                      float64
peak_date             datetime64[ns]
nifty_spot_iv_peak             int64
iv_b_day                     float64
nifty_spot_b_day               int64
iv_post                      float64
post_date             datetime64[ns]
nifty_spot_iv_post             int64
dtype: object

In [76]:
df["peak_days"] = df["budget_date"] - df["peak_date"]
df["iv_drop_peak_to_bday"] = df["iv_peak"] - df["iv_b_day"]
df["nifty_change_peakday_bday"] = (df["nifty_spot_b_day"] - df["nifty_spot_iv_peak"])*100 / df["nifty_spot_iv_peak"]
df

,budget_date,iv_peak,peak_date,nifty_spot_iv_peak,iv_b_day,nifty_spot_b_day,iv_post,post_date,nifty_spot_iv_post,peak_days,iv_drop_peak_to_bday,nifty_change_peakday_bday
0,2018-02-01,17.30,2018-01-29,11138,12.62,11031,12.62,2018-02-01,11031,3 days,4.68,-0.960675
1,2019-02-01,19.49,2019-01-28,10676,14.34,10914,13.92,2019-02-04,10937,4 days,5.15,2.229299
2,2020-02-01,23.94,2020-01-31,11994,18.77,11655,10.87,2020-02-07,12096,1 days,5.17,-2.826413
3,2021-02-01,30.49,2021-01-29,13709,26.75,14351,19.45,2021-02-04,14895,3 days,3.74,4.683055
4,2022-02-01,37.94,2022-01-31,17362,28.94,17589,16.03,2022-02-02,17796,1 days,9.00,1.307453

In [77]:
df["peak_post_days"] = df["post_date"] - df["peak_date"]
df["iv_drop_peak_to_post"] = df["iv_peak"] - df["iv_post"]
df["nifty_change_peakday_postday"] = (df["nifty_spot_iv_post"] - df["nifty_spot_iv_peak"])*100 / df["nifty_spot_iv_peak"]
df

,budget_date,iv_peak,peak_date,nifty_spot_iv_peak,iv_b_day,nifty_spot_b_day,iv_post,post_date,nifty_spot_iv_post,peak_days,iv_drop_peak_to_bday,nifty_change_peakday_bday,peak_post_days,iv_drop_peak_to_post,nifty_change_peakday_postday
0,2018-02-01,17.30,2018-01-29,11138,12.62,11031,12.62,2018-02-01,11031,3 days,4.68,-0.960675,3 days,4.68,-0.960675
1,2019-02-01,19.49,2019-01-28,10676,14.34,10914,13.92,2019-02-04,10937,4 days,5.15,2.229299,7 days,5.57,2.444736
2,2020-02-01,23.94,2020-01-31,11994,18.77,11655,10.87,2020-02-07,12096,1 days,5.17,-2.826413,7 days,13.07,0.850425
3,2021-02-01,30.49,2021-01-29,13709,26.75,14351,19.45,2021-02-04,14895,3 days,3.74,4.683055,6 days,11.04,8.651251
4,2022-02-01,37.94,2022-01-31,17362,28.94,17589,16.03,2022-02-02,17796,1 days,9.00,1.307453,2 days,21.91,2.499712

In [78]:
# df.to_csv("budget_iv_analysis_nifty.csv")

`Summary`

In [80]:
df.columns

Index(['budget_date', 'iv_peak', 'peak_date', 'nifty_spot_iv_peak', 'iv_b_day',
       'nifty_spot_b_day', 'iv_post', 'post_date', 'nifty_spot_iv_post',
       'peak_days', 'iv_drop_peak_to_bday', 'nifty_change_peakday_bday',
       'peak_post_days', 'iv_drop_peak_to_post',
       'nifty_change_peakday_postday'],
      dtype='object')

In [82]:
df[['peak_days', 'iv_drop_peak_to_bday', 'nifty_change_peakday_bday',
       'peak_post_days', 'iv_drop_peak_to_post',
       'nifty_change_peakday_postday']].describe()

,peak_days,iv_drop_peak_to_bday,nifty_change_peakday_bday,peak_post_days,iv_drop_peak_to_post,nifty_change_peakday_postday
count,5,5.000000,5.000000,5,5.000000,5.000000
mean,2 days 09:36:00,5.548000,0.886544,5 days 00:00:00,11.254000,2.697090
std,1 days 08:11:57.763953589,2.014937,2.897927,2 days 08:17:05.960824372,6.935765,3.617461
min,1 days 00:00:00,3.740000,-2.826413,2 days 00:00:00,4.680000,-0.960675
25%,1 days 00:00:00,4.680000,-0.960675,3 days 00:00:00,5.570000,0.850425
50%,3 days 00:00:00,5.150000,1.307453,6 days 00:00:00,11.040000,2.444736
75%,3 days 00:00:00,5.170000,2.229299,7 days 00:00:00,13.070000,2.499712
max,4 days 00:00:00,9.000000,4.683055,7 days 00:00:00,21.910000,8.651251